@import '../../variables.scss';

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: $tertiary;

    &__title {
      padding: 30px;
      font-size: $fontXl;
      text-align: center;
    }

    &__btn {
      border: none;
      background-color: $secondary;
      font-size: $fontM;
      color: $tertiary;
      padding: 10px;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: $active;
      }
    }
  }

  &__content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .random {
    &__content {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }
}
