@import '../../variables.scss';

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: $tertiary;
    &__title {
      padding: 20px;
      font-size: $fontXxl;
    }

    &__btn {
      border: none;
      border-radius: 5px;
      background-color: $secondary;
      font-size: $fontL;
      color: $tertiary;
      padding: 10px;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: $active;
      }
    }
  }

  &__content {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}
