@import '../../variables.scss';

.favourite {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: $fontXl;
    margin: 30px;
    color: $tertiary;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    border: none;
    background-color: $secondary;
    font-size: $fontM;
    color: $tertiary;
    padding: 10px;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
      background-color: $active;
    }
  }
}

@media screen and (min-width: 768px) {
  .favourite {
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
