@import '../../variables.scss';

.card {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 320px;
  background-color: $tertiary;
  color: $fontColor;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
  }

  &__name {
    padding: 10px;
    font-size: $fontXl;
    font-weight: $bold;
  }

  &__button--favourite {
    position: absolute;
    top: 5%;
    right: 3%;
    background: none;
    border: none;
  }

  &__image {
    height: 270px;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    &__item {
      margin: 15px;

      &__description {
        font-weight: $bold;
        font-size: $fontXxs;
        padding: 5px;
      }
    }
  }
}
