@import './reset.scss';
@import './variables.scss';

body {
  background-color: $primary;
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  min-height: 80vh;
}
