$primary: #3c444c;
$secondary: #30363d;
$tertiary: #d3d3d3;
$active: #ff6804;
$grey100: 'hsl(0, 0%, 96%)';
$grey200: 'hsl(0, 0%, 90%)';
$grey300: 'hsl(0, 0%, 70%)';
$black: 'hsl(0, 0%, 0%)';
$light: 300;
$bold: 600;
$fontColor: #0a0d2c;
$fontXxs: 1rem;
$fontXs: 1.2rem;
$fontS: 1.4rem;
$fontM: 1.6rem;
$fontL: 1.8rem;
$fontXl: 2rem;
$fontXxl: 3rem;
