$primary: #d1e3c9;
$secondary: #2bab6e;
$tertiary: #ffffff;
$active: #b1ed30;
$grey100: 'hsl(0, 0%, 96%)';
$grey200: 'hsl(0, 0%, 90%)';
$grey300: 'hsl(0, 0%, 70%)';
$black: 'hsl(0, 0%, 0%)';
$light: 300;
$bold: 600;
$fontColor: #131740;
$fontXxs: 1rem;
$fontXs: 1.2rem;
$fontS: 1.4rem;
$fontM: 1.6rem;
$fontL: 1.8rem;
$fontXl: 2rem;
$fontXxl: 3rem;
