@import '../../variables.scss';

.nav {
  background-color: $secondary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  &__logo {
    height: 80px;
  }

  &__search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

    &__input {
      height: 30px;
      width: 100%;
      border: none;
      font-size: $fontXs;
      color: $tertiary;
      background: transparent;
      border-bottom: 1px solid $additional;
      outline: none;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown {
        ~ .nav__search__label {
          top: 50px;
          cursor: text;
        }
      }
    }

    &__label {
      color: $tertiary;
      position: absolute;
      top: 10px;
      display: block;
      font-size: $fontXs;
      transition: 0.1s;
    }

    &__input:focus {
      ~ .nav__search__label {
        position: absolute;
        top: -20px;
        transition: 0.1s;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      background: rgba(129, 134, 140, 0.25);
      margin: 20px;
      padding: 5px 10px;
      border: none;
      color: $tertiary;
      font-size: $fontXs;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $active;
      }
    }
  }

  &__menu {
    position: fixed;
    right: -100px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: #21262b;
    z-index: 3;
    transition: all 0.3s ease-out;

    &--open {
      right: 0;
    }

    &__item {
      box-sizing: border-box;
      color: $tertiary;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
      width: 50px;
      transition: all 0.2s ease-in;

      &__text {
        text-decoration: none;
        font-size: $fontXxs;
      }

      &__icon {
        height: 20px;
      }

      &--active {
        background-color: $active;
      }
    }

    &__btn {
      padding: 15px;
      background-color: $additional;
      border: none;
      margin: 5px;

      &--open {
        z-index: 3;
        position: fixed;
        top: 3%;
        right: 3%;
      }

      &--close {
        background-color: $active;
      }

      &__img {
        height: 25px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    &__wrapper {
      flex-direction: row;
    }

    &__search {
      flex-direction: row;

      &__label {
        top: 26px;
      }

      &__input:focus {
        ~ .nav__search__label {
          position: absolute;
          top: -5px;
          transition: 0.1s;
        }
      }
    }

    &__menu {
      position: initial;
      flex-direction: row;
      z-index: initial;
      background-color: initial;

      &__btn {
        &--close {
          display: none;
        }
      }
    }
  }
}
