@import '../../variables.scss';

.nav {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: $secondary;
  }

  &__logo {
    height: 80px;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
      height: 30px;
      width: 300px;
      border: none;
      margin-right: 20px;
      padding: 5px;
      font-size: $fontM;
      color: $tertiary;
      background: none;
      border-bottom: 1px solid $active;
    }

    &__button {
      display: flex;
      align-items: center;
      background: rgba(129, 134, 140, 0.25);
      border-radius: 5px;
      padding: 5px 10px;
      border: none;
      color: $tertiary;
      font-size: $fontS;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      color: $tertiary;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;

      &__text {
        text-decoration: none;
        font-size: $fontXxs;
      }

      &__icon {
        height: 20px;
      }

      &--active {
        background-color: $secondary;
        border-radius: 5px;
      }
    }
  }
}
